In [1]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd

# Récupère tous les matchs de la saison régulière 2022-23
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable='2022-23')
games_df = gamefinder.get_data_frames()[0]

In [2]:
games_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240,89,...,0.875,11,33,44,18,9,7,8,21,-5.0
1,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,240,94,...,0.565,11,46,57,21,6,7,14,13,5.0
2,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240,95,...,0.850,8,29,37,23,2,3,14,19,-13.0
3,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,242,108,...,0.762,5,29,34,26,11,7,6,18,13.0
4,42022,1610612748,MIA,Miami Heat,0042200403,2023-06-07,MIA vs. DEN,L,240,94,...,0.789,10,23,33,20,7,3,4,22,-15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4313,12022,1610612749,MIL,Milwaukee Bucks,0012200003,2022-10-01,MIL vs. MEM,L,240,102,...,0.714,17,33,50,22,10,3,23,29,-5.0
4314,12022,1610612746,LAC,LA Clippers,0012200002,2022-09-30,LAC vs. MRA,W,242,121,...,0.698,15,40,55,27,9,6,23,23,44.2
4315,12022,1610612744,GSW,Golden State Warriors,0012200001,2022-09-30,GSW @ WAS,W,239,96,...,0.775,10,52,62,18,6,3,17,27,9.0
4316,12022,50009,MRA,Ra'anana Maccabi Ra'anana,0012200002,2022-09-30,MRA @ LAC,L,240,81,...,0.710,13,25,38,16,14,5,16,34,-43.2
4317,12022,1610612764,WAS,Washington Wizards,0012200001,2022-09-30,WAS vs. GSW,L,240,87,...,0.633,7,37,44,20,12,10,14,27,-9.0

In [3]:
from nba_api.stats.endpoints import leaguegamefinder
import pandas as pd
from datetime import datetime

# Définir les saisons à récupérer (de 2022-23 à la saison actuelle 2024-25)
seasons = ['2022-23', '2023-24', '2024-25']

# Liste pour stocker les dataframes de chaque saison
all_games_dfs = []

# Récupérer les données pour chaque saison
for season in seasons:
    print(f"Récupération des données pour la saison {season}...")
    gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable=season)
    games_df = gamefinder.get_data_frames()[0]
    all_games_dfs.append(games_df)
    
# Concaténer tous les dataframes en un seul
historical_games_df = pd.concat(all_games_dfs, ignore_index=True)

# Afficher le nombre de matchs récupérés par saison
for season in seasons:
    season_games = historical_games_df[historical_games_df['SEASON_ID'].str.contains(season.replace('-', ''))]
    print(f"Saison {season}: {len(season_games)} matchs")

print(f"Total: {len(historical_games_df)} matchs")

Récupération des données pour la saison 2022-23...
Récupération des données pour la saison 2023-24...
Récupération des données pour la saison 2024-25...
Saison 2022-23: 0 matchs
Saison 2023-24: 0 matchs
Saison 2024-25: 0 matchs
Total: 12837 matchs

In [4]:
historical_games_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,42022,1610612748,MIA,Miami Heat,0042200405,2023-06-12,MIA @ DEN,L,240,89,...,0.875,11,33,44,18,9,7,8,21,-5.0
1,42022,1610612743,DEN,Denver Nuggets,0042200405,2023-06-12,DEN vs. MIA,W,240,94,...,0.565,11,46,57,21,6,7,14,13,5.0
2,42022,1610612748,MIA,Miami Heat,0042200404,2023-06-09,MIA vs. DEN,L,240,95,...,0.850,8,29,37,23,2,3,14,19,-13.0
3,42022,1610612743,DEN,Denver Nuggets,0042200404,2023-06-09,DEN @ MIA,W,242,108,...,0.762,5,29,34,26,11,7,6,18,13.0
4,42022,1610612748,MIA,Miami Heat,0042200403,2023-06-07,MIA vs. DEN,L,240,94,...,0.789,10,23,33,20,7,3,4,22,-15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12832,12024,1610612743,DEN,Denver Nuggets,0012400001,2024-10-04,BOS @ DEN,L,239,103,...,0.654,12,37,49,29,10,2,23,24,-4.0
12833,12024,50012,GLU,G League United,2012400002,2024-09-06,GLU vs. KMB,W,240,99,...,0.750,4,28,32,23,20,8,12,22,34.2
12834,12024,50011,KMB,Mega MIS,2012400002,2024-09-06,KMB @ GLU,L,238,66,...,0.846,6,30,36,9,3,3,26,18,-32.4
12835,12024,50012,GLU,G League United,2012400001,2024-09-04,GLU vs. KMB,W,238,99,...,0.778,11,22,33,23,12,8,13,17,18.2
12836,12024,50011,KMB,Mega MIS,2012400001,2024-09-04,KMB @ GLU,L,240,81,...,0.813,6,25,31,17,8,1,24,16,-18.0

In [9]:
from nba_api.stats.endpoints import playergamelog, commonallplayers
import pandas as pd
import time

# Récupérer la liste des joueurs actifs
players_data = commonallplayers.CommonAllPlayers(is_only_current_season=0)
players_df = players_data.get_data_frames()[0]
active_players = players_df[players_df['ROSTERSTATUS'] == 1]

# Sélectionner un nombre limité de joueurs pour l'exemple
sample_players = active_players.head(5)  # Limité à 5 joueurs pour l'exemple

# Récupérer les statistiques de match pour chaque joueur
all_player_stats = []

for index, player in sample_players.iterrows():
    player_id = player['PERSON_ID']
    player_name = player['DISPLAY_FIRST_LAST']
    
    print(f"Récupération des données pour {player_name} (ID: {player_id})...")
    
    # Récupérer les statistiques du joueur pour la saison 2023-24
    try:
        gamelog = playergamelog.PlayerGameLog(player_id=player_id, season='2023-24')
        stats = gamelog.get_data_frames()[0]
        
        # Ajouter le nom du joueur
        stats['PLAYER_NAME'] = player_name
        
        all_player_stats.append(stats)
        print(f"  {len(stats)} matchs trouvés")
        
        # Pause pour éviter de surcharger l'API
        time.sleep(1)
        
    except Exception as e:
        print(f"  Erreur: {e}")

# Combiner toutes les statistiques des joueurs
if all_player_stats:
    players_stats_df = pd.concat(all_player_stats, ignore_index=True)
    print(f"Total: {len(players_stats_df)} entrées de matchs de joueurs")

Récupération des données pour Precious Achiuwa (ID: 1630173)...
  74 matchs trouvés
Récupération des données pour Steven Adams (ID: 203500)...
  0 matchs trouvés
Récupération des données pour Bam Adebayo (ID: 1628389)...
  71 matchs trouvés
Récupération des données pour Ochai Agbaji (ID: 1630534)...
  78 matchs trouvés
Récupération des données pour Santi Aldama (ID: 1630583)...
  61 matchs trouvés
Total: 284 entrées de matchs de joueurs

/var/folders/_f/2srlysd96rvbypcnm9b8564w0000gn/T/ipykernel_98915/637193777.py:41: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  players_stats_df = pd.concat(all_player_stats, ignore_index=True)

In [10]:
players_df

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,PLAYER_SLUG,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,TEAM_SLUG,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
0,76001,"Abdelnaby, Alaa",Alaa Abdelnaby,0,1990,1994,HISTADD_alaa_abdelnaby,alaa_abdelnaby,0,,,,,None,Y,00
1,76002,"Abdul-Aziz, Zaid",Zaid Abdul-Aziz,0,1968,1977,HISTADD_zaid_abdul-aziz,zaid_abdul-aziz,0,,,,,None,Y,00
2,76003,"Abdul-Jabbar, Kareem",Kareem Abdul-Jabbar,0,1969,1988,HISTADD_kareem_abdul-jabbar,kareem_abdul-jabbar,0,,,,,None,Y,00
3,51,"Abdul-Rauf, Mahmoud",Mahmoud Abdul-Rauf,0,1990,2000,mahmoud_abdul-rauf,mahmoud_abdul-rauf,0,,,,,None,Y,00
4,1505,"Abdul-Wahad, Tariq",Tariq Abdul-Wahad,0,1997,2003,tariq_abdul-wahad,tariq_abdul-wahad,0,,,,,None,Y,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5020,1627826,"Zubac, Ivica",Ivica Zubac,1,2016,2024,ivica_zubac,ivica_zubac,1610612746,LA,Clippers,LAC,clippers,clippers,Y,01
5021,78650,"Zunic, Matt",Matt Zunic,0,1948,1948,HISTADD_matt_zunic,matt_zunic,0,,,,,None,Y,00
5022,1641783,"da Silva, Tristan",Tristan da Silva,1,2024,2024,tristan_da_silva,tristan_da_silva,1610612753,Orlando,Magic,ORL,magic,magic,Y,00
5023,1628427,"Čančar, Vlatko",Vlatko Čančar,1,2019,2024,vlatko_cancar,vlatko_čančar,1610612743,Denver,Nuggets,DEN,nuggets,nuggets,Y,01
5024,203967,"Šarić, Dario",Dario Šarić,1,2016,2024,dario_saric,dario_šarić,1610612743,Denver,Nuggets,DEN,nuggets,nuggets,Y,00

In [11]:
print(players_df.head())

   PERSON_ID DISPLAY_LAST_COMMA_FIRST   DISPLAY_FIRST_LAST  ROSTERSTATUS  \
0      76001          Abdelnaby, Alaa       Alaa Abdelnaby             0
1      76002         Abdul-Aziz, Zaid      Zaid Abdul-Aziz             0
2      76003     Abdul-Jabbar, Kareem  Kareem Abdul-Jabbar             0
3         51      Abdul-Rauf, Mahmoud   Mahmoud Abdul-Rauf             0
4       1505       Abdul-Wahad, Tariq    Tariq Abdul-Wahad             0

  FROM_YEAR TO_YEAR                   PLAYERCODE          PLAYER_SLUG  \
0      1990    1994       HISTADD_alaa_abdelnaby       alaa_abdelnaby
1      1968    1977      HISTADD_zaid_abdul-aziz      zaid_abdul-aziz
2      1969    1988  HISTADD_kareem_abdul-jabbar  kareem_abdul-jabbar
3      1990    2000           mahmoud_abdul-rauf   mahmoud_abdul-rauf
4      1997    2003            tariq_abdul-wahad    tariq_abdul-wahad

   TEAM_ID TEAM_CITY TEAM_NAME TEAM_ABBREVIATION TEAM_CODE TEAM_SLUG  \
0        0                                                      None
1        0                                                      None
2        0                                                      None
3        0                                                      None
4        0                                                      None

  GAMES_PLAYED_FLAG OTHERLEAGUE_EXPERIENCE_CH
0                 Y                        00
1                 Y                        00
2                 Y                        00
3                 Y                        00
4                 Y                        00

In [1]:
print("coucou les musulmans")

coucou les musulmans